POSTGRES_DB=celcoin
POSTGRES_USER=celcoin
POSTGRES_PASSWORD=celcoin
POSTGRES_PORT=5432
CELCOIN_BASE_URL=https://sandbox.openfinance.celcoin.dev
CELCOIN_CLIENT_ID=41b44ab9a56440.teste.celcoinapi.v5
CELCOIN_CLIENT_SECRET=e9d15cde33024c1494de7480e69b7a18c09d7cd25a8446839b3be82a56a044a3
CELCOIN_WEBHOOK_SECRET=
CELCOIN_DEMO_ENABLED=true
CELCOIN_SSL_ENABLED=false
CELCOIN_SSL_KEYSTORE_PATH=
CELCOIN_SSL_KEYSTORE_PASSWORD=
CELCOIN_SSL_KEY_PASSWORD=
CELCOIN_SSL_TRUSTSTORE_PATH=
CELCOIN_SSL_TRUSTSTORE_PASSWORD=
CELCOIN_ESCROW_ENABLED=false
CELCOIN_ESCROW_API_BASE_URL=https://sandbox.platform.credit.celcoin.com.br/escrow/api
CELCOIN_ESCROW_AUTH_URL=https://sandbox.auth.flowfinance.com.br/oauth2/token
CELCOIN_ESCROW_CLIENT_ID=
CELCOIN_ESCROW_CLIENT_SECRET=
