POSTGRES_DB=celcoin
POSTGRES_USER=celcoin
POSTGRES_PASSWORD=celcoin
POSTGRES_PORT=5432
CELCOIN_BASE_URL=https://sandbox.openfinance.celcoin.com.br
CELCOIN_CLIENT_ID=replace-with-client-id
CELCOIN_CLIENT_SECRET=replace-with-client-secret
CELCOIN_WEBHOOK_SECRET=
CELCOIN_DEMO_ENABLED=true
CELCOIN_SSL_ENABLED=false
CELCOIN_SSL_KEYSTORE_PATH=
CELCOIN_SSL_KEYSTORE_PASSWORD=
CELCOIN_SSL_KEY_PASSWORD=
CELCOIN_SSL_TRUSTSTORE_PATH=
CELCOIN_SSL_TRUSTSTORE_PASSWORD=
