POSTGRES_DB=celcoin
POSTGRES_USER=celcoin
POSTGRES_PASSWORD=celcoin
POSTGRES_PORT=5432
CELCOIN_BASE_URL=https://sandbox.openfinance.celcoin.com.br
CELCOIN_CLIENT_ID=replace-with-client-id
CELCOIN_CLIENT_SECRET=replace-with-client-secret
CELCOIN_WEBHOOK_SECRET=
CELCOIN_DEMO_ENABLED=true
